@model Product

<div class="card border-0 shadow-sm m-1 p-3">
    <img src="@Model.img_link" class="card-img-top img-fluid mb-3" alt="@Model.name" style="max-width: 100%; height: auto;" />
    <div class="card-body">
        <h5 class="card-title">@Model.name</h5>
        <ul class="list-unstyled mb-0">
            <li><strong>Price:</strong> $@Model.price</li>
            <li><strong>Category:</strong> @Model.category</li>
        </ul>
    </div>
</div>

