@page
@model INTEXII.Pages.OrderEditModel
@{
}
<div class="AdminEditProductPage" style="width: 1421px; height: 1195px; position: relative; background: white">
    <div class="TableLongRow" style="width: 1308px; height: 60px; left: 64px; top: 639px; position: absolute">
        <div class="Price" style="width: 179px; height: 24.02px; left: 77px; top: 17px; position: absolute; color: #9F3247; font-size: 20px; font-family: Roboto; font-weight: 700; word-wrap: break-word">Product Name</div>
        <div class="Rectangle165" style="width: 981px; height: 60px; left: 327px; top: 0px; position: absolute; border-radius: 5px; border: 3px #F0F0F0 solid"></div>
        <div class="Rectangle166" style="width: 327px; height: 60px; left: 0px; top: 60px; position: absolute; border-radius: 5px; border: 3px #F0F0F0 solid"></div>
    </div>
    <div class="TableLongRow" style="width: 1308px; height: 60px; left: 64px; top: 699px; position: absolute">
        <div class="Price" style="width: 179px; height: 24.02px; left: 77px; top: 17px; position: absolute; color: #9F3247; font-size: 20px; font-family: Roboto; font-weight: 700; word-wrap: break-word">Price</div>
        <div class="Rectangle165" style="width: 981px; height: 60px; left: 327px; top: 0px; position: absolute; border-radius: 5px; border: 3px #F0F0F0 solid"></div>
        <div class="Rectangle166" style="width: 327px; height: 60px; left: 0px; top: 60px; position: absolute; border-radius: 5px; border: 3px #F0F0F0 solid"></div>
    </div>
    <div class="TableLongRow" style="width: 1308px; height: 60px; left: 64px; top: 759px; position: absolute">
        <div class="Price" style="width: 179px; height: 24.02px; left: 77px; top: 17px; position: absolute; color: #9F3247; font-size: 20px; font-family: Roboto; font-weight: 700; word-wrap: break-word">Number of Parts</div>
        <div class="Rectangle165" style="width: 981px; height: 60px; left: 327px; top: 0px; position: absolute; border-radius: 5px; border: 3px #F0F0F0 solid"></div>
        <div class="Rectangle166" style="width: 327px; height: 60px; left: 0px; top: 60px; position: absolute; border-radius: 5px; border: 3px #F0F0F0 solid"></div>
    </div>
    <div class="TableLongRow" style="width: 1308px; height: 60px; left: 64px; top: 819px; position: absolute">
        <div class="Price" style="width: 179px; height: 24.02px; left: 77px; top: 17px; position: absolute; color: #9F3247; font-size: 20px; font-family: Roboto; font-weight: 700; word-wrap: break-word">Year</div>
        <div class="Rectangle165" style="width: 981px; height: 60px; left: 327px; top: 0px; position: absolute; border-radius: 5px; border: 3px #F0F0F0 solid"></div>
        <div class="Rectangle166" style="width: 327px; height: 60px; left: 0px; top: 60px; position: absolute; border-radius: 5px; border: 3px #F0F0F0 solid"></div>
    </div>
    <div class="TableLongRow" style="width: 1308px; height: 60px; left: 64px; top: 879px; position: absolute">
        <div class="Price" style="width: 179px; height: 24.02px; left: 77px; top: 17px; position: absolute; color: #9F3247; font-size: 20px; font-family: Roboto; font-weight: 700; word-wrap: break-word">Color</div>
        <div class="Rectangle165" style="width: 981px; height: 60px; left: 327px; top: 0px; position: absolute; border-radius: 5px; border: 3px #F0F0F0 solid"></div>
        <div class="Rectangle166" style="width: 327px; height: 60px; left: 0px; top: 60px; position: absolute; border-radius: 5px; border: 3px #F0F0F0 solid"></div>
    </div>
   
    <div class="AddButton" style="width: 69px; height: 41px; left: 431px; top: 416px; position: absolute">
        <div class="Rectangle212" style="width: 69px; height: 41px; left: 0px; top: 0px; position: absolute; background: #F0F0F0; border-radius: 5px; border: 0.73px #EAEAEA solid"></div>
        <div class="Add" style="left: 15px; top: 9px; position: absolute; text-align: center; color: #A14243; font-size: 20px; font-family: Rubik; font-weight: 400; word-wrap: break-word">Add</div>
    </div>
    <div class="Delete" style="width: 69px; height: 41px; left: 601px; top: 416px; position: absolute">
        <div class="Rectangle212" style="width: 69px; height: 41px; left: 0px; top: 0px; position: absolute; background: rgba(161.06, 65.90, 67.11, 0.59); border-radius: 5px; border: 0.73px rgba(161.06, 65.90, 67.11, 0.59) solid"></div>
        <div class="Delete" style="left: 5px; top: 9px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: Rubik; font-weight: 400; word-wrap: break-word">Delete</div>
    </div>
    <div class="EditButton" style="width: 69px; height: 41px; left: 516px; top: 416px; position: absolute">
        <div class="Rectangle212" style="width: 69px; height: 41px; left: 0px; top: 0px; position: absolute; background: #F0F0F0; border-radius: 5px; border: 0.73px #EAEAEA solid"></div>
        <div class="Edit" style="left: 13px; top: 9px; position: absolute; text-align: center; color: #A14243; font-size: 20px; font-family: Rubik; font-weight: 400; word-wrap: break-word">Edit</div>
    </div>
    <div class="OneProductCard" style="width: 1308px; height: 342.40px; left: 64px; top: 297px; position: absolute">
        <div class="ProductDetailsCard" style="width: 981px; height: 342.40px; left: 327px; top: 0px; position: absolute">
            <div class="Rectangle160" style="width: 981px; height: 342.40px; left: 0px; top: 0px; position: absolute; border-radius: 5px; border: 3px #F0F0F0 solid"></div>
            <div class="ProductInfoCard" style="width: 130px; height: 23px; left: 42px; top: 21.88px; position: absolute">
                <div class="ProductName" style="left: 0px; top: 0px; position: absolute; color: #9F3247; font-size: 20px; font-family: Roboto; font-weight: 700; word-wrap: break-word">Product Photo</div>
            </div>
        </div>
        <div class="ProductProfile" style="width: 327px; height: 342.40px; left: 0px; top: 0px; position: absolute">
            <img class="Download1" style="width: 272px; height: 267.24px; left: 20px; top: 34px; position: absolute" src="https://via.placeholder.com/272x267" />
            <div class="Rectangle160" style="width: 327px; height: 342.40px; left: 0px; top: 0px; position: absolute; border-radius: 5px; border: 3px #F0F0F0 solid"></div>
        </div>
    </div>
    <div class="Title" style="left: 80px; top: 188px; position: absolute; color: #A14243; font-size: 50px; font-family: Inter; font-weight: 700; word-wrap: break-word">Edit Product</div>
    <div class="CanvelButton" style="width: 132px; height: 48.37px; left: 1240px; top: 1044px; position: absolute">
        <div class="Rectangle212" style="width: 132px; height: 48.37px; left: 0px; top: 0px; position: absolute; background: #F0F0F0; border-radius: 5px; border: 0.73px #EAEAEA solid"></div>
        <div class="Cancel" style="width: 85px; height: 28px; left: 25px; top: 11px; position: absolute; text-align: center; color: #A14243; font-size: 20px; font-family: Rubik; font-weight: 400; word-wrap: break-word">Cancel</div>
    </div>
    <div class="Delete" style="width: 128px; height: 48px; left: 1059px; top: 1044px; position: absolute">
        <div class="Rectangle212" style="width: 128px; height: 48px; left: 0px; top: 0px; position: absolute; background: rgba(161.06, 65.90, 67.11, 0.59); border-radius: 5px; border: 0.73px rgba(161.06, 65.90, 67.11, 0.59) solid"></div>
        <div class="Delete" style="left: 41.28px; top: 12.54px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: Rubik; font-weight: 400; word-wrap: break-word">Save</div>
    </div>
</div>