@{
    ViewBag.Title = "Admin Home Page";
    Layout = "_AdminLayout";
}

@{
    ViewBag.Title = "Admin Home Page";
    Layout = "_AdminLayout";
}

@* @model IQueryable<Product> *@



<div class="AdminHomePage" style="width: 1421px; height: 1402px; position: relative; background: white">
    <div class="AdminManageButton" style="width: 308.09px; height: 42px; left: 51px; top: 1255px; position: absolute">
        <a asp-area="" asp-controller="Admin" asp-action="OrderList">
            <div class="Rectangle212" style="width: 227.64px; height: 42px; left: 42.94px; top: 0px; position: absolute; background: #F0F0F0; border-radius: 5px; border: 0.73px #EAEAEA solid"></div>
            <div class="ManageOrders" style="width: 308.09px; height: 24.59px; left: 0px; top: 9.22px; position: absolute; text-align: center; color: #A14243; font-size: 20px; font-family: Rubik; font-weight: 400; word-wrap: break-word">Manage Orders</div>
        </a>
    </div>

    <div class="AdminManageButton" style="width: 308.09px; height: 42px; left: 51px; top: 1001px; position: absolute">
        <a asp-area="" asp-controller="Admin" asp-action="CustomerList">
            <div class="Rectangle212" style="width: 227.64px; height: 42px; left: 42.94px; top: 0px; position: absolute; background: #F0F0F0; border-radius: 5px; border: 0.73px #EAEAEA solid"></div>
            <div class="ManageOrders" style="width: 308.09px; height: 24.59px; left: 0px; top: 9.22px; position: absolute; text-align: center; color: #A14243; font-size: 20px; font-family: Rubik; font-weight: 400; word-wrap: break-word">Manage Customers</div>
        </a>
    </div>

    <div class="AdminManageButton" style="width: 308.09px; height: 42px; left: 51px; top: 772px; position: absolute">
        <a asp-area="" asp-controller="Admin" asp-action="ProductList">
            <div class="Rectangle212" style="width: 227.64px; height: 42px; left: 42.94px; top: 0px; position: absolute; background: #F0F0F0; border-radius: 5px; border: 0.73px #EAEAEA solid"></div>
            <div class="ManageOrders" style="width: 308.09px; height: 24.59px; left: 0px; top: 9.22px; position: absolute; text-align: center; color: #A14243; font-size: 20px; font-family: Rubik; font-weight: 400; word-wrap: break-word">Manage Products</div>
        </a>
    </div>


    <div class="AdminManageButton" style="width: 308.09px; height: 42px; left: 459px; top: 1255px; position: absolute">
        <a asp-area="" asp-controller="Admin" asp-action="ReviewOrders">
            <div class="Rectangle212" style="width: 227.64px; height: 42px; left: 42.94px; top: 0px; position: absolute; background: #F0F0F0; border-radius: 5px; border: 0.73px #EAEAEA solid"></div>
            <div class="ManageOrders" style="width: 308.09px; height: 24.59px; left: 0px; top: 9.22px; position: absolute; text-align: center; color: #A14243; font-size: 20px; font-family: Rubik; font-weight: 400; word-wrap: break-word">View Fraud</div>
        </a>
    </div>

    <div class="Heading" style="width: 222px; height: 61px; left: 88px; top: 178px; position: absolute">
        <div class="Heading" style="left: 0px; top: 0px; position: absolute; color: #A14243; font-size: 50px; font-family: Inter; font-weight: 700; word-wrap: break-word">Products</div>
    </div>


    <div class="Heading" style="width: 222px; height: 61px; left: 88px; top: 908px; position: absolute">
        <div class="Heading" style="left: 0px; top: 0px; position: absolute; color: #A14243; font-size: 50px; font-family: Inter; font-weight: 700; word-wrap: break-word">Customers</div>
    </div>


    <div class="Heading" style="width: 222px; height: 61px; left: 92px; top: 1151px; position: absolute">
        <div class="Heading" style="left: 0px; top: 0px; position: absolute; color: #A14243; font-size: 50px; font-family: Inter; font-weight: 700; word-wrap: break-word">Orders</div>
    </div>


    <div class="OneProductCard" style="width: 327px; height: 468.21px; left: 88px; top: 272px; position: absolute">
        <div class="Group11" style="width: 327px; height: 328px; left: 0px; top: 0px; position: absolute">
            <img class="Download1" style="width: 272px; height: 256px; left: 26px; top: 11px; position: absolute" src="https://m.media-amazon.com/images/I/51bwtCxXF2L._AC_SX425_.jpg" />
            <div class="Rectangle160" style="width: 327px; height: 328px; left: 0px; top: 0px; position: absolute; border-radius: 5px; border: 3px #F0F0F0 solid"></div>
        </div>
        <div class="ProductInfoCard" style="width: 315px; height: 121.21px; left: 3px; top: 347px; position: absolute">
            <div class="StarWarsSuperPack3In1" style="left: 0px; top: 0px; position: absolute; color: #9F3247; font-size: 25px; font-family: Roboto; font-weight: 900; word-wrap: break-word">Star Wars Super Pack 3 in 1</div>
            <div class="300" style="width: 62px; height: 29.23px; left: 0px; top: 27.79px; position: absolute; color: #9F3247; font-size: 20px; font-family: Roboto; font-weight: 700; word-wrap: break-word">$ 300</div>
            <div class="CategoryStarWars" style="width: 205.58px; height: 17.09px; left: 0px; top: 104.12px; position: absolute; color: #212427; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Category: Star Wars<br /></div>
            <div class="NumberOfPart3" style="width: 205.58px; height: 17.09px; left: 0px; top: 73.12px; position: absolute; color: #212427; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Number of Part: 3</div>
        </div>
    </div>


    <div class="OneProductCard" style="width: 327px; height: 468.21px; left: 910px; top: 272px; position: absolute">
        <div class="Group11" style="width: 327px; height: 328px; left: 0px; top: 0px; position: absolute">
            <img class="Download1" style="width: 272px; height: 256px; left: 26px; top: 11px; position: absolute" src="https://m.media-amazon.com/images/I/81YSK5uUQoL._AC_SL1500_.jpg" />
            <div class="Rectangle160" style="width: 327px; height: 328px; left: 0px; top: 0px; position: absolute; border-radius: 5px; border: 3px #F0F0F0 solid"></div>
        </div>
        <div class="ProductInfoCard" style="width: 229px; height: 132.21px; left: 3px; top: 336px; position: absolute">
            <div class="HarryPotterClassic" style="left: 0px; top: 0px; position: absolute; color: #9F3247; font-size: 25px; font-family: Roboto; font-weight: 900; word-wrap: break-word">Harry Potter Classic</div>
            <div class="80" style="width: 62px; height: 29.23px; left: 0px; top: 38.79px; position: absolute; color: #9F3247; font-size: 20px; font-family: Roboto; font-weight: 700; word-wrap: break-word">$ 80</div>
            <div class="CategoryHarryPotter" style="width: 205.58px; height: 17.09px; left: 0px; top: 115.12px; position: absolute; color: #212427; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Category: Harry Potter<br /></div>
            <div class="NumberOfPart3" style="width: 205.58px; height: 17.09px; left: 0px; top: 84.12px; position: absolute; color: #212427; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Number of Part:  3</div>
        </div>
    </div>


    <div class="OneProductCard" style="width: 327px; height: 468.21px; left: 499px; top: 272px; position: absolute">
        <div class="Group11" style="width: 327px; height: 328px; left: 0px; top: 0px; position: absolute">
            <img class="Download1" style="width: 272px; height: 256px; left: 26px; top: 11px; position: absolute" src="https://m.media-amazon.com/images/I/71AUw95nXkL._AC_SL1500_.jpg" />
            <div class="Rectangle160" style="width: 327px; height: 328px; left: 0px; top: 0px; position: absolute; border-radius: 5px; border: 3px #F0F0F0 solid"></div>
        </div>
        <div class="ProductInfoCard" style="width: 294px; height: 132.21px; left: 3px; top: 336px; position: absolute">
            <div class="LegoDcUniverseHeroes" style="left: 0px; top: 0px; position: absolute; color: #9F3247; font-size: 25px; font-family: Roboto; font-weight: 900; word-wrap: break-word">DC Universe Heroes</div>
            <div class="12" style="width: 62px; height: 29.23px; left: 0px; top: 38.79px; position: absolute; color: #9F3247; font-size: 20px; font-family: Roboto; font-weight: 700; word-wrap: break-word">$ 12</div>
            <div class="CategoryDc" style="width: 205.58px; height: 17.09px; left: 0px; top: 115.12px; position: absolute; color: #212427; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Category: DC<br /></div>
            <div class="NumberOfPart0" style="width: 205.58px; height: 17.09px; left: 0px; top: 84.12px; position: absolute; color: #212427; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Number of Part: 0</div>
        </div>
    </div>
</div>



<style>
    .btn {
        display: inline-block;
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        font-weight: 600;
        color: #fff;
        background-color: #007bff;
        border: 2px solid transparent;
        border-radius: 0.5rem;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
    }

        .btn:hover {
            background-color: #0056b3;
        }

        .btn:focus {
            outline: none;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
        }
</style>
