html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Notification container */
.cookie-notification {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: auto;
    max-width: 300px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Close button */
.cookie-notification-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Content */
.cookie-notification-content {
    margin-bottom: 10px;
}