html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.product-card {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 4px;
    overflow: hidden;
    background: #fff;
    padding: 10px;
    gap: 10px;
}

    .product-card img {
        width: 100%;
        display: block;
    }

.product-info {
    padding: 10px;
    position: relative;
}

h2 {
    margin: 0 0 10px;
    color: #333;
}

.smallHeading {
    color: #9F3247;
    font-weight: bold;
}

.edit-button,
.delete-button {
    display: inline-block; /* This will allow you to set a width or let the padding dictate the size */
    width: 90px; /* Set a fixed width, or remove this line to use padding instead */
    text-align: center; /* This will center the text in the button */
    vertical-align: middle; /* Align the text vertically */
    right: 10px;
    background: #ddd;
    border: none;
    border-radius: 4px;
    padding: 10px; /* Adjust padding to ensure buttons are the same size */
    cursor: pointer;
    margin-bottom: 5px;
}

.edit-button {
    right: auto;
    background-color: #f0f0f0;
}

.delete-button {
    right: auto;
    background-color: #ff5c5c;
}

@media (max-width: 600px) {
    .product-card {
        width: 100%;
    }
}

.AdminHomeButton {
    width: 308.09px;
    height: 42px;
    left: 51px;
    top: 1255px;
    position: absolute
}

.AdminHomeButtonBorder {
    width: 227.64px;
    height: 42px;
    left: 42.94px;
    top: 0px;
    position: absolute;
    background: #F0F0F0;
    border-radius: 5px;
    border: 0.73px #EAEAEA solid
}
.AdminHomeButtonBorderText {
    width: 308.09px; height: 24.59px; left: 0px; top: 9.22px; position: absolute; text-align: center; color: #A14243; font-size: 20px; font-family: Rubik; font-weight: 400; word-wrap: break-word
}

.AdminHomeHeading {
    left: 88px; top: 1151px; position: absolute; color: #A14243; font-size: 50px; font-family: Inter; font-weight: 700; word-wrap: break-word
}

.ProductProfileCard {
    width: 327px;
    height: 328px;
    left: 501px;
    top: 272px;
    position: absolute
}
.ProductProfileImage {
    width: 252px;
    height: 256px;
    left: 38px;
    top: 11px;
    position: absolute
}

.ProductProfileInfo {
    width: 327px; height: 328px; left: 0px; top: 0px; position: absolute; border-radius: 5px; border: 3px #F0F0F0 solid
}

.ProductProfileSum {
    width: 301.73px;
    height: 92.92px;
    left: 813px;
    top: 0px;
    position: absolute
}
.ProductName {
    width: 128.87px;
    height: 24.56px;
    left: 0px;
    top: 0px;
    position: absolute;
    color: #9F3247;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 700;
    word-wrap: break-word
}

.ProuductNameBorder {
    width: 78.76px;
    height: 29.91px;
    left: 0px;
    top: 35.25px;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: inline-flex
}
.price {
    color: #9F3247;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 700;
    word-wrap: break-word
}
.ProductCategory {
    width: 205.58px;
    height: 17.09px;
    left: 0px;
    top: 75.83px;
    position: absolute;
    color: #212427;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word
}

/* This will apply when the window width is 768px or less */
@media (max-width: 768px) {
    .title {
        font-size: 2em;
    }

    .addButton,
    .filterBy,
    .sortBy {
        width: 100%; /* Full width on smaller screens */
        margin-top: 0.5em;
    }
=======
}

/* Notification container */
.cookie-notification {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: auto;
    max-width: 300px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Close button */
.cookie-notification-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Content */
.cookie-notification-content {
    margin-bottom: 10px;
}